*.DS_Store
*.sass-cache/
*.css.map
*.psd
*.pdf
*.cfg
*.db
*error_log
node_modules/
cgi-bin/
error/
icons/
noindex/
.bash*
.profile
.well-known/
.contactemail
.cpanel/
.cphorde/
.dns
.emacs
.gemrc
.kshrc
.lastlogin
.spamassassinenable
.spamboxenable
.ssh/
.viminfo
.vimrc
.zshrc
access-logs
etc/
public_html
ssl/
tmp/
www

